<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.NetStatus.Droid" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="15" />
  <application android:icon="@drawable/icon" android:label="NetStatus.Droid">
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>